@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Afacad", sans-serif;
}

.btn {
  background: black;
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
