.header {
  width: 100%;
  background-color: black;
  color: whitesmoke;
}

.header__con {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 20%;
  height: 100px;
  object-fit: contain;
}
